backend/.venv
**/__pycache__/
frontend/.idea/gradle.xml
backend/archive/
*.zip
gradle_test.log
backend/tools
frontend/app/build
frontend/app/release
metrics-stack-podman/nginx/certs/
metrics-stack-podman/graphite/data/
metrics-stack-podman/nginx/nginx.conf
metrics-stack-podman/influxdb/data
metrics-stack-podman/influxdb/config
